<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>IPS Admon</title>
</head>

<body style="background-color: gainsboro">

    <div id="myCtrl" ng-app="myApp" ng-controller="myCtrl">

        <div id="list-products">
            <h2>Product list</h2>

            <input type="text" class="form-control" ng-model="searchKeyword" placeholder="search..." style="float: left;width: 30%; margin-right: 20px;">
            <button class="btn btn-success" ng-click="create()"  style="float: right; margin-right: 20px;">New</button>
            <a href="index.html" class="btn btn-link" style="float: right; margin-right: 20px;">Back</a>

            <table class="table table-striped table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Photo</th>
                        <th>Part Number</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in products  | filter: searchKeyword ">
                        <td>{{ $index + 1 }}</td>
                        <td>
                            <img width="100" height="80" src="../motorsports/resources/img/products/{{ getFirstPhoto(p.photos) }}" />
                        </td>
                        <td>{{ p.part_number}}</td>
                        <td>{{ p.name}}</td>
                        <td>{{ p.price}}
                            <br/>
                            <span style="color: red">{{ p.low_price}}</span>
                        </td>
                        <td>{{ p.stock}}</td>
                        <td>{{ p.id_brand}}</td>
                        <td>{{ p.id_category}}</td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-click="delete(p.id_product)">Delete</button>
                            <button class="btn btn-info" type="button" ng-click="update(p.id_product)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="product-register" style="width: 90%; margin: auto;">

            <div class="form-group">
                <label for="product_name">Name:</label>
                <input type="text" class="form-control" id="product_name" ng-model="product.name">
            </div>

            <div class="form-group">
                <label for="product_short_description">Short description:</label>
                <div id="product_short_description" class="summernote">Default description.</div>

                <label for="product_description">Long Description:</label>
                <div id="product_description" class="summernote">Default description.</div>
            </div>


            <div class="form-group">
                <label for="product_price">Price:</label>
                <input type="text" class="form-control" id="product_price" ng-model="product.price">

                <label for="product_low_price">Low price:</label>
                <input type="text" class="form-control" id="product_low_price" ng-model="product.low_price">
            </div>


            <div class="form-group">
                <label for="product_stock">In stock:</label>
                <input type="text" class="form-control" id="product_stock" ng-model="product.stock">

                <label for="product_part_number"># Part number:</label>
                <input type="text" class="form-control" id="product_part_number" ng-model="product.part_number">
            </div>


            <div class="form-group">
                <label for="product_pounds">Pounds</label>
                <input type="text" class="form-control" id="product_pounds" ng-model="product.pounds">

                <label for="product_ounces">Ounces</label>
                <input type="text" class="form-control" id="product_ounces" ng-model="product.ounces">
            </div>

            <div class="form-group">
                <label for="product_length">Length</label>
                <input type="text" class="form-control" id="product_length" ng-model="product.length">

                <label for="product_width">Width</label>
                <input type="text" class="form-control" id="product_width" ng-model="product.width">

                <label for="product_height">Height</label>
                <input type="text" class="form-control" id="product_height" ng-model="product.height">
            </div>


            <div class="form-group">
                <label for="product_category">Category:</label>
                <select class="form-control" id="product_category" ng-model="product.id_category">
                    <option ng-repeat="c in categories" value="{{c.id_category}}">{{c.description}}</option>
                </select>

                <label for="product_brand">Brand:</label>
                <select class="form-control" id="product_brand" ng-model="product.id_brand">
                    <option ng-repeat="b in brands" value="{{b.id_brand}}">{{b.description}}</option>
                </select>
            </div>


            <div class="form-group">

                <button data-toggle="modal" data-target="#selectPhoto" ng-click='getPhotos()'>Add photo</button>

                <table class="table table-bordered" style="background-color: ghostwhite;">
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="photo in product.photos">
                        <th>
                            <center>
                                <img width="150" height="100" src="../motorsports/resources/img/products/{{photo}}">
                            </center>
                        </th>
                        <td>{{photo}}</td>
                        <td>
                            <button type="button" class="btn btn-dark btn-sm" ng-click="onClickRemovePhoto(photo)">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" ng-show="files.length == 0">
                            <small>
                                <i>No photo selected.</i>
                            </small>
                        </td>
                    </tr>
                </table>

            </div>

            <center>
                <button class="btn btn-secondary" ng-click="back()">Back</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </center>
            <p/>

        </div>

        <!-- Modal fotos -->
        <div class="modal fade" id="selectPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-sm-4">
                            <h4 class="modal-title" id="exampleModalLabel">
                                <b>Seleccion de foto</b>
                            </h4>
                        </div>
                        <div class="col-sm-8">
                            <table style="float: right;">
                                <tr>
                                    <td>
                                        <input type='file' name='file' id='file'>
                                        <br/>
                                    </td>
                                    <td>
                                        <input type='button' class="btn btn-success" value='Upload' id='upload' ng-click='uploadFiles()'>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-body">

                        <div class="container-fluid">

                            <div class="row" style="height: 400px; overflow-y: auto;">
                                <div class="col-lg-2 col-sm-2 col-xs-3" ng-repeat="f in filesServer" ng-click="setSelectedPhoto(f)">
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <center>
                                                <img src="../motorsports/resources/img/products/{{f}}" class="rounded" style="height:100px !important; width:80px;">
                                            </center>
                                        </div>
                                        <div class="panel-footer" style="font-size:xx-small; height: 30px;">
                                            <center>
                                                <b>{{f}}</b>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <h6>Foto selecionada :
                                    <b>{{selectedPhoto}}</b>
                                </h6>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" ng-click="onSelectPhoto(selectedPhoto)" data-dismiss="modal">Seleccionar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- text editor -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            var url = new URL(window.location.href);
            $scope.store = url.searchParams.get("store").replace("'", "").replace("'", "");
            //$scope.serverPath = 'http://motorsports.innopartserv.com/';
            $scope.serverPath = '';
            $scope.products = undefined;
            $scope.categories = undefined;
            $scope.brands = undefined;
            $scope.isUpdate = false;
            $scope.product = undefined;
            $scope.filesServer = [];
            $scope.selectedPhoto = 'empty-img.png';
            document.getElementById("product-register").hidden = true;
            document.getElementById("list-products").hidden = true;

            $scope.init = function () {
                $scope.getAll();
                $scope.getAllCategory();
                $scope.getAllBrand();
            }

            $scope.delete = function (id_product) {
                bootbox.confirm("Seguro que desea eliminar el producto?", function (result) {
                    if (result) {
                        $http({
                            method: 'POST',
                            url: $scope.serverPath + 'data_base.php?data=delete&store=' + $scope.store,
                            data: { id_product: id_product }
                        }).then(function successCallback(response) {
                            alert("El producto se ha borrado.");
                            $scope.getAll();
                            myApp.hidePleaseWait();
                        }, function errorCallback(response) {
                            alert("Algo salio mal.");
                        });
                    }
                });
            }

            $scope.create = function () {
                $scope.product = {
                    id_product: 0,
                    name: "",
                    short_description: "",
                    description: "",
                    price: 0,
                    low_price: 0,
                    photos: [],
                    stock: 0,
                    part_number: "",
                    id_category: 0,
                    id_brand: 0,
                    pounds: 0,
                    ounces: 0,
                    length: 0,
                    width: 0,
                    height: 0
                };
                $scope.isUpdate = false;
                document.getElementById("product-register").hidden = false;
                document.getElementById("list-products").hidden = true;
            }

            $scope.update = function (id_product) {
                myApp.showPleaseWait();
                $http({
                    method: 'POST',
                    url: $scope.serverPath + 'data_base.php?data=getProductById&store=' + $scope.store,
                    data: { id_product: id_product }
                }).then(function successCallback(response) {
                    $scope.product = response.data[0];
                    $('.summernote').eq(0).summernote('code', $scope.product.short_description != "" ? $scope.product.short_description : "Default description");
                    $('.summernote').eq(1).summernote('code', $scope.product.description != "" ? $scope.product.description : "Default description");
                    $scope.isUpdate = true;
                    document.getElementById("product-register").hidden = false;
                    document.getElementById("list-products").hidden = true;
                    myApp.hidePleaseWait();
                }, function errorCallback(response) {
                    alert("Algo salio mal.");
                });
            }

            $scope.save = function () {
                myApp.showPleaseWait();
                $scope.product.photosJson = $scope.product.photos.length > 0 ? JSON.stringify($scope.product.photos) : '["empty-img.png"]';
                $scope.product.name = $scope.product.name.replace(new RegExp('\r?\n', 'g'), '<br />');
                $scope.product.short_description = $('.summernote').eq(0).summernote('code'); //$scope.product.short_description.replace(new RegExp('\r?\n', 'g'), '<br />');
                $scope.product.description = $('.summernote').eq(1).summernote('code') //$scope.product.description.replace(new RegExp('\r?\n', 'g'), '<br />');
                $http({
                    method: 'POST',
                    url: $scope.serverPath + 'data_base.php?store=' + $scope.store + '&data=' + ($scope.isUpdate ? 'update' : 'create'),
                    data: $scope.product
                }).then(function successCallback(response) {
                    alert("El producto se ha " + ($scope.isUpdate ? "modificado." : "creado."));
                    $scope.getAll();
                    document.getElementById("product-register").hidden = true;
                    document.getElementById("list-products").hidden = false;
                    myApp.hidePleaseWait();
                }, function errorCallback(response) {
                    alert("Algo salio mal.");
                    document.getElementById("product-register").hidden = true;
                    document.getElementById("list-products").hidden = false;
                });
            }

            $scope.getAll = function () {
                myApp.showPleaseWait();
                $http.get($scope.serverPath + "data_base.php?data=getAllProducts&store=" + $scope.store)
                    .then(function (response) {
                        if (response.data) {
                            $scope.products = response.data;
                        } else {
                            document.getElementById("login").hidden = true;
                        }
                        myApp.hidePleaseWait();
                    }, function (error) {
                        alert('status: ' + error.status)
                    });
                document.getElementById("list-products").hidden = false;
            }

            $scope.getAllCategory = function () {
                $http.get($scope.serverPath + "data_base.php?data=getAllCategory&store=" + $scope.store)
                    .then(function (response) {
                        if (response.data) {
                            $scope.categories = response.data;
                        } else {
                        }
                    }, function (error) {
                        alert('status: ' + error.status)
                    });
                document.getElementById("list-products").hidden = false;
            }

            $scope.getAllBrand = function () {
                $http.get($scope.serverPath + "data_base.php?data=getAllBrand&store=" + $scope.store)
                    .then(function (response) {
                        if (response.data) {
                            $scope.brands = response.data;
                        } else {
                        }
                    }), function (error) {
                        alert('status: ' + error.status)
                    };
                document.getElementById("list-products").hidden = false;
            }

            $scope.back = function () {
                document.getElementById("product-register").hidden = true;
                document.getElementById("list-products").hidden = false;
            }

            // Fotos
            // Obtiene la primera foto para el listado
            $scope.getFirstPhoto = function (photosJson) {
                return JSON.parse(photosJson)[0];
            }

            // Actualiza la foto seleccionada del modal
            $scope.setSelectedPhoto = function (photo) {
                $scope.selectedPhoto = photo;
            }

            // Accion de aceptar del modal seleccion de foto
            $scope.onSelectPhoto = function () {
                $scope.product.photos.push($scope.selectedPhoto);
            }

            // Obtiene las fotos disponibles del server
            $scope.getPhotos = function () {
                $scope.selectedPhoto = 'empty-img.png';
                $http.get($scope.serverPath + "upload.php/?data=getFilesServer&store=motorsport&process=product")
                    .then(function (response) {
                        response.data.shift(); // removemos los primeros dos "." y ".."
                        response.data.shift();
                        $scope.filesServer = response.data;
                    }, function (error) {
                        alert('status: ' + error.status)
                    });
            }

            // Sube una nueva foto al server
            $scope.uploadFiles = function () {
                var formData = new FormData();
                var files = document.getElementById('file').files[0];
                formData.append('file', files, files.name);
                $http({
                    method: 'POST',
                    url: $scope.serverPath + 'upload.php/?data=uploadFile&store=motorsport&process=product',
                    data: formData,
                    headers: { 'Content-Type': undefined },
                }).then(function (response) {
                    alert(response.data);
                    $scope.getPhotos();
                }, function (error) {
                    alert('status: ' + error.status);
                });
            }

            // Elimina foto del lisatdo de fotos del producto
            $scope.onClickRemovePhoto = function (photo) {
                $scope.product.photos = $scope.product.photos.filter(function (p) {
                    return p != photo;
                });
            };
        });

        var myApp;
        $(document).ready(function () {

            $('.summernote').summernote({
                height: 300
            });

            myApp = myApp || (function () {
                var pleaseWaitDiv = $(
                    '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                    '<div class="modal-dialog modal-m">' +
                    '<div class="modal-content">' +
                    '<div class="modal-header"><h3 style="margin:0;">Processing...</h3></div>' +
                    '<div class="modal-body">' +
                    '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                    '</div>' +
                    '</div></div></div>');
                return {
                    showPleaseWait: function () {
                        pleaseWaitDiv.modal();
                    },
                    hidePleaseWait: function () {
                        pleaseWaitDiv.on('shown.bs.modal', function (e) {
                            pleaseWaitDiv.modal("hide");
                        });
                        pleaseWaitDiv.modal("hide");
                    },
                };
            })();

            angular.element(document.getElementById('myCtrl')).scope().init();
        });
    </script>


</body>

</html>